<template>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand" v-bind:href="urlBase">
                    <img class="logo" v-bind:src="logo" height="50px" alt="">
                    {{project}}
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>

                <!-- Right Side Of Navbar -->
                <slot></slot>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        props:['project', 'urlBase', 'logo'],
    }
</script>

<style scoped>
.logo{
    margin-top: -14px;
    float: left;
    margin-right:5px;
}
</style>