<template>

    <div v-bind:class="tipo">
        <div class="panel-heading">
            <h3 class="panel-title">{{titulo}}</h3>

        </div>
        <div class="panel-body">
            <slot></slot>
        </div>
    </div>


</template>

<script>
    export default {
        name: "Painel",
        props:['titulo'],
        computed:{
            tipo:function(){
                if(this.titulo){
                    if(this.titulo == 'Usuários Inativos'){
                        return 'panel panel-danger'
                    }else if (this.titulo == 'Usuários Ativos'){
                        return 'panel panel-success'
                    }
                }

                return 'panel panel-default'
            }
        }
    }
</script>

<style scoped>

</style>