
<template>
    <div>
        <div class="pull-right">
            <input type="search" v-model="buscar" placeholder="Buscar" class="form-control pull-right">
        </div>

        <a v-bind:href="novoreg" class="btn btn-success pull-left"> <i class="glyphicon glyphicon-plus"></i> Novo Usuario</a>
        <br><br>

        <table class="table table-hover table-striped">
            <tbody>
            <tr v-for="(item, index) in lista">
                <td># {{index + 1}}</td>
                <td><img v-bind:src="item.image" v-bind:alt="item.name" width="48px" height="48px" class="img-circle"></td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td> CPF: {{item.cpf}}</td>
                <td>Nasc: {{item.birthday | formataData}}</td>

                <td style="text-align: center">
                    <a v-bind:href="rota+'/editar/'+item.cpf" v-if="!item.deleted_at" class="btn btn-warning" title="Editar"><i class="fa fa-edit"></i></a>
                    <a v-bind:href="rota+'/inativar/'+item.cpf" v-if="!item.deleted_at" class="btn btn-danger" title="Desativar"><i class="fa fa-trash-alt"></i></a>
                    <a v-bind:href="rota+'/reativar/'+item.cpf" v-if="item.deleted_at" class="btn btn-success" title="Reativar"><i class="fa fa-redo-alt"></i></a>
                    <a v-bind:href="rota+'/delete/'+item.cpf" v-if="item.deleted_at" class="btn btn-danger" title="Deletar"><i class="fa fa-ban"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
        props:['items', 'rota', 'novoreg'],
        data: function(){
            return {
                buscar:''
            }
        },
        computed:{
            lista:function () {

                return this.items.data.filter(res => {
                    if((res.name.toLowerCase().indexOf(this.buscar.toLowerCase()) >= 0) || (res.email.toLowerCase().indexOf(this.buscar.toLowerCase()) >= 0) || (res.cpf.toLowerCase().indexOf(this.buscar.toLowerCase()) >= 0)){
                        return true
                    }
                    return false
                })
            }
        },
        filters:{
            formataData: function (value) {

                return value.split("-")[2] + "/" + value.split("-")[1] + "/" + value.split("-")[0]
            }
        }
    }
</script>