
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.cpfhelp{
  display: none;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  background-color: #fff;
  background-image: url(https://uploads-ssl.webflow.com/581e180e7abac00612e6082f/5a5797ac875dc50001378a63_whf-faster.gif);
  background-position: 50% 50%;
  background-size: cover;
}